# Created by https://www.gitignore.io/api/vagrant,vim
.gitattributes

### Vagrant ###
.vagrant/


### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Files ###
cluster-files/ssl/*
cluster-files/bin/*
